body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#background-audio {
    display: none; /* Hide the audio element */
}

.content {
    text-align: center;
    z-index: 1;
}

#centered-image {
    max-width: 50%; /* Adjust the size as needed */
    max-height: 50%; /* Adjust the size as needed */
    object-fit: contain;
}
